{% extends 'base.html' %}
{% block content %}
    <br><br>
     <div>
           <div style="display:inline-block">
               {% if request.user.avatar %}
                   <img src="{{ request.user.avatar.url }}" class="card-img-top" style="width: 250px" >
               {% endif %}
           </div>
           <div style="display:inline-block">

                    <a class="btn-secondary" role="button" href="{% url 'accounts:change_password' %}">

                     <span class="btn btn-default btn-dark">
                         change password
                     </span>
                   </a>
                <br>
                <br>
               <a href="{% url 'accounts:addresses_user' %}">

                   <span class="btn btn-default btn-dark">
                          Addresses
                   </span>
               </a>
                <br>
                <br>
               <a href="{% url 'accounts:orders_history' %}">

                    <span class="btn btn-default btn-dark">
                          Orders history
                   </span>
               </a>
        </div>
        </div>
    <div class="form-group">
    <br><br>
      <form action="" method="post" enctype="multipart/form-data">
       {% csrf_token %}
       {{ form.as_p }}
       <input class="btn btn-secondary" type="submit" value="Edit profile">
       </form>

    </div>
{% endblock %}