{% extends 'base.html' %}
{% block content %}
    <br><br>
    <div class="form-group">
    {% if request.user.avatar %}
      <img src="{{ request.user.avatar.url }}" class="card-img-top" style="width: 250px" >
    {% endif %}
    <br><br>
      <form action="" method="post">
       {% csrf_token %}
       {{ form.as_p }}
       <input class="btn btn-primary" type="submit" value="edit">
       </form>
       <a href="{% url 'accounts:change_password' %}"> change password</a>
        <br>
       <a href="{% url 'accounts:addresses_user' %}"> Addresses</a>
        <br>
       <a href="{% url 'accounts:orders_history' %}"> Orders history</a>
    </div>
{% endblock %}